<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.junuo.mapper.RobotMapper">
    <resultMap id="robotResultMap" type="robot">
        <result column="robot_id" property="robotId"/>
    </resultMap>
    <update id="setRunning">
        update tb_robot set status=#{status} where robot_id=#{robotId};
    </update>

    <select id="selectAll" resultMap="robotResultMap">
        select * from tb_robot;
    </select>
    <select id="getFreeRobots" resultMap="robotResultMap">
        select tr.* from tb_robot tr
            where tr.robot_id not in (
                select tt.robot_id from tb_task tt
                        where tt.status=1
                )
    </select>
    <select id="selectByRobotId" resultMap="robotResultMap">
        select * from tb_robot where robot_id=#{robotId};
    </select>
    <select id="getBattery" resultType="java.lang.Integer">
        select battery from tb_robot
            where robot_id=#{robotId};
    </select>
</mapper>