<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.junuo.mapper.TaskMapper">
    <resultMap id="taskResultMap" type="task">
        <result column="robot_id" property="robotId"/>
        <result column="belt_id" property="beltId"/>
    </resultMap>
    <insert id="addTask">
        insert into tb_task values (null, #{time}, #{robotId}, #{beltId}, 1);
    </insert>
    <update id="setDone">
        update tb_task set status=0 where id=#{id};
    </update>
    <delete id="deleteByIdInt">
        delete from tb_task where id=#{id};
    </delete>
    <select id="selectAll" resultMap="taskResultMap">
        select * from tb_task;
    </select>
</mapper>